In [30]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [23]:
trainingData = pd.read_csv('./dataSet/train.csv')
testData = pd.read_csv('./dataSet/test.csv')
submissionData = pd.read_csv('./dataSet/sample_submission.csv')

# Training Data Peek

In [3]:
trainingData.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

# Column Types

In [24]:
trainingData.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

# Number of Missing Data Points per Column

In [25]:
trainingData.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# Total number of Rows with missing Data Points

In [6]:
missing_rows = trainingData.isna().sum(axis=1)
missing_rows[missing_rows>0].count()

2087

# Missing Data Solutions

### HomePlanet
Fill in with most common home planet.

### CryoSleep
Fill in with most common. 

### Cabin
Fill in this piece of data last, find patterns from data where cabin is filled in and use those patterns to estimate.

### Destination
Fill in with most common.

### Age
Fill in with average.

### VIP
Fill in with most common.

### RoomService, FoodCourt, ShoppingMall, Spa, VRDeck
Fill in with average.

### Name
Fill in with "John Doe"

# Command to fill in missing HomePlanet Column data with Earth

In [31]:
trainingData["HomePlanet"] = SimpleImputer(strategy='most_frequent').fit_transform(trainingData[["HomePlanet"]])